.aimbrain-facial-popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  display: none;
}

.aimbrain-facial-popup .aimbrain-facial-contents {
  position: fixed;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: #c0c0c0;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, .25);
  box-sizing: border-box;
}

.aimbrain-facial-video {
  height: 480px;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.aimbrain-facial-video-wrapper {
  height: 480px;
  width: 360px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.aimbrain-facial-overlay {
  height: 480px;
  width: 360px;
  padding: 0;
  margin: 0;
  background-image: url(face-overlay.png);
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
}

.aimbrain-facial-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-image: url(close.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 102;
}

.aimbrain-facial-record-button {
  position: absolute;
  top: 430px;
  width: 30px;
  height: 30px;
  background-image: url(camera.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 102;
  left: 50%;
  transform: translate(-50%, 0%);
}

.aimbrain-facial-stop-button {
  position: absolute;
  top: 430px;
  width: 30px;
  height: 30px;
  background-image: url(square.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 102;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
}

.aimbrain-facial-canvas {
  display: none;
}

.aimbrain-facial-top-label,
.aimbrain-facial-bottom-label,
.aimbrain-facial-capturing-label {
  position: absolute;
  text-align: center; 
}

.aimbrain-facial-top-label {
  top: 0px;
  left: 50px;
  right: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aimbrain-facial-bottom-label {
  top: 390px;
  left: 50px;
  right: 50px;
}

.aimbrain-facial-capturing-label {
  display: none;
  top: 390px;
  left: 50px;
  right: 50px;
}

.aimbrain-facial-timer-label {
  position: absolute;
  text-align: left;
  width: 80px;
  top: 438px;
  left: 20px;
  display: none;
}


