.aimbrain-dialog-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    font-size: 14px;
}

.aimbrain-dialog-voice {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, .25);
    box-sizing: border-box;
}

.aimbrain-dialog-voice {
    background-color: #fff;
    color: #000;
    width: 360px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.aimbrain-dialog-voice {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.aimbrain-voice-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-image: url(close-dark.svg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.aimbrain-voice-close:active {
    opacity: 0.75;
}

.aimbrain-voice-header-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60px;
    max-width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.aimbrain-voice-token {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aimbrain-voice-capturing-label {
    text-align: center;
    font-size: 16px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aimbrain-voice-controls {
    min-height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.aimbrain-voice-record-button {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(mic-dark.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.aimbrain-voice-stop-button {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(stop-dark.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.aimbrain-voice-progress-label {
    max-width: 30%;
    text-align: center;
}

.aimbrain-voice-record-button:active, aimbrain-voice-stop-button:active  {
    opacity: 0.75;
}
