.aimbrain-voice-popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  color: #000;
  font-size: 12px;
}

.aimbrain-voice-popup .aimbrain-voice-contents {
  position: fixed;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 101;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, .25);
  box-sizing: border-box;
}

.aimbrain-voice-contents {
  background-color: #fff;
  width: 360px;
  height: 480px;
}

.aimbrain-voice-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-image: url(close.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 102;
}

.aimbrain-voice-record-button {
  position: absolute;
  bottom: 40px;
  width: 30px;
  height: 30px;
  background-image: url(microphone.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 102;
  left: 50%;
  transform: translate(-50%, 0%);
}

.aimbrain-voice-stop-button {
  position: absolute;
  bottom: 40px;
  width: 30px;
  height: 30px;
  background-image: url(square.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 102;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
}

.aimbrain-voice-top-label,
.aimbrain-voice-bottom-label,
.aimbrain-voice-capturing-label {
  position: absolute;
  text-align: center; 
}

.aimbrain-voice-top-label {
  top: 0px;
  left: 50px;
  right: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aimbrain-voice-token {
  position: absolute;
  text-align: center;
  left: 50px;
  font-size: 32px;
  top: 150px;
  right: 50px;
  font-weight: 200;
}

.aimbrain-voice-top-label {
  top: 10px;
}

.aimbrain-voice-bottom-label {
  bottom: 60px;
}

.aimbrain-voice-capturing-label {
  display: none;
  bottom: 90px;
  left: 50px;
  right: 50px;
}

.aimbrain-voice-timer-label {
  position: absolute;
  text-align: left;
  width: 80px;
  bottom: 45px;
  left: 30px;
  display: none;
}
